.wrap,
.imageCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont {
  padding: 0;
  cursor: default;
}

.button {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: beige;
  cursor: pointer;
}
